.two-column {
    width: 100%;
    background-color: rgb(200, 240, 168);
top:0;
}

.column-container{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.column {
    width: 35em;
    height: 50em;

    float: left;
    background-color: white;

    border-radius: 10px; 
}

.column-body {
    width: 100%;
}
.column-body img {
    position:relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.column-body p {
    font-size: 24px;
}